---
const BackgroundMobile ="/pages/about-us/milestone/MILESTONE.webp";
const Background ="/pages/about-us/milestone/BG.webp";
const BodyImage ="/pages/about-us/milestone/BODY.png";
const BodyImageWeb ="/pages/about-us/milestone/BODY-web.png";
const HeadImage ="/pages/about-us/milestone/HEAD.png";
const HeadImageWeb ="/pages/about-us/milestone/HEAD-web.png";
const TextMobile ="/pages/about-us/milestone/text-mobile.webp";
const TextWeb ="/pages/about-us/milestone/text-web.png";
const NumberImage ="/pages/about-us/milestone/NUMBERS-MOBILE.png";
const NumberImageWeb ="/pages/about-us/milestone/NUMBERS-WEB.webp";
---

<>
  <section
    class="bg-cover px-7 py-10 block md:hidden -mt-3"
    style={`background-image: url(${BackgroundMobile})`}
  >
    <div class="-mt-[20%]">
      <img src={NumberImage} alt="" />
    </div>
    <div class="flex flex-col gap-7">
      <div>
        <img src={HeadImage} alt="" />
      </div>
      <div>
        <img src={BodyImage} alt="" />
      </div>
      <div class="flex flex-col justify-center items-center gap-1.5">
        <>
          <img src={TextMobile} alt="" />
        </>
        <div class="flex justify-center">
          <button class="bg-[#FFBC2D] py-1 px-3 rounded-lg">
            <span class="text-[#F03C0B] font-bold"> JOIN US NOW! </span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-cover bg-top hidden md:block px-7 py-10"
    style={`background-image: url(${Background})`}
  >
    <div class="flex justify-center items-center -mt-[8%]">
      <img src={NumberImageWeb} alt="" class="w-4xl"/>
    </div>
    <div class="flex flex-col py-10">
      <div class="-mt-[5%] -ml-[3%]">
        <img src={HeadImageWeb} alt="" class="w-[44rem]" />
      </div>
      <div class="px-16 flex justify-center items-center">
        <img src={BodyImageWeb} alt="" />
      </div>
      <div
        class="flex flex-col justify-center items-center gap-4 pt-[16%] pb-[15%]"
      >
        <div>
          <img src={TextWeb} alt="" class="w-4xl" />
        </div>
        <div class="flex justify-center">
          <button class="bg-[#FFBC2D] py-1 px-3 rounded-lg">
            <span class="text-[#F03C0B] font-bold"> JOIN US NOW! </span>
          </button>
        </div>
      </div>
    </div>
  </section>
</>
