---
const Background = "/pages/landing-pages/additional-pro-service/BG.webp";
const BackgroundWeb = "/pages/landing-pages/additional-pro-service/ADDITIONAL-PRO.webp";
const CardOne = "/pages/landing-pages/additional-pro-service/1.png";
const CardTwo = "/pages/landing-pages/additional-pro-service/2.png";
const CardThree = "/pages/landing-pages/additional-pro-service/3.png";
const CardFour = "/pages/landing-pages/additional-pro-service/4.png";
---

<>
  <section
    class="bg-cover bg-center px-7 py-5 block md:hidden"
    style={`background-image: url(${Background})`}
  >
    <div class="flex flex-col gap-3 text-white">
      <div
        class="flex flex-col justify-center items-center gap-1.5 font-mochiy-pop-one font-normal text-white text-2xl"
      >
        <span
          class="font-mochiy-pop-one font-normal text-white text-2xl text-center"
        >
          ADDITIONAL PRO SERVICES
        </span>
        <div class="flex flex-col justify-center items-center gap-1">
          <div>
            <img src={CardOne} alt="CardOne" />
          </div>
          <div>
            <img src={CardTwo} alt="CardTwo" />
          </div>
          <div>
            <img src={CardThree} alt="CardThree" />
          </div>
          <div>
            <img src={CardFour} alt="CardFour" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-cover bg-top h-auto min-h-screen hidden md:block -mt-1"
    style={`background-image: url(${BackgroundWeb})`}
  >
    <div class="pb-[54%]"></div>
    <!-- Sesuaikan persentase dengan aspect ratio gambar -->
  </section>
</>
