---
const Background = "/pages/landing-pages/our-service/Maskgroup.png";
const BackgroundWeb = "/pages/landing-pages/our-service/OUR-SERVICES.webp";
const CardOne = "/pages/landing-pages/our-service/1.png";
const CardTwo = "/pages/landing-pages/our-service/2.png";
const CardThree = "/pages/landing-pages/our-service/3.png";
const CardFour = "/pages/landing-pages/our-service/4.png";
---

<>
  <section
    class="bg-cover bg-left px-7 py-12 -mt-[12%] block md:hidden"
    style={`background-image: url(${Background})`}
  >
    <div class="flex flex-col justify-center items-center gap-8">
      <div class="">
        <span class="font-mochiy-pop-one font-normal text-[#CB0D0D] text-2xl"
          >OUR SERVICE</span
        >
      </div>
      <div class="grid grid-cols-2 grid-rows-2 gap-2">
        <img
          src={CardOne}
          alt="CardOne"
          class="w-52"
          onclick="window.location.href = '/services/cici-language-course-expert' "
        />
        <img
          src={CardTwo}
          alt="CardTwo"
          class="w-52"
          onclick="window.location.href = '/services/cici-study-abroad-expert' "
        />
        <img
          src={CardThree}
          alt="CardThree"
          class="w-52"
          onclick="window.location.href = '/services/cici-tour-travel-expert' "
        />
        <img
          src={CardFour}
          alt="CardFour"
          class="w-52"
          onclick="window.location.href = '/services/cici-career-link-expert' "
        />
      </div>
    </div>
  </section>

  <section class="-mt-[12%] hidden md:block w-full overflow-hidden relative">
    <img
      src={BackgroundWeb}
      alt="Contact Us Background"
      class="w-full h-auto object-cover object-center"
    />
    <div class="absolute top-[34.6%] w-full h-full pl-[22%] pr-[24.0578%]">
      <div class="grid grid-cols-2 gap-x-[2%] gap-y-[5.5%]">
        <!--cici language-->
        <div
          class="py-[26%] rounded-lg cursor-pointer"
          onclick="window.location.href = '/services/cici-language-course-expert' "
        >
        </div>
        <!--cici study-->
        <div
          class="py-[26%] rounded-lg cursor-pointer"
          onclick="window.location.href = '/services/cici-study-abroad-expert' "
        >
        </div>
        <!--cici tour-->
        <div
          class="py-[26%] rounded-lg cursor-pointer"
          onclick="window.location.href = '/services/cici-tour-travel-expert' "
        >
        </div>
        <!--  -->
        <div
          class="py-[26%] rounded-lg cursor-pointer"
          onclick="window.location.href = '/services/cici-career-link-expert' "
        >
        </div>
      </div>
    </div>
  </section>
</>
