---
const Background ="/pages/landing-pages/welcome/BG.webp";
const TextWelcome ="/pages/landing-pages/welcome/Text-Welcome-Cici-Mandarin.png";
const TextWelcomeWeb ="/pages/landing-pages/welcome/Text-Welcome-Cici-Mandarin-Web.png";
const WelcomeImage  ="/pages/landing-pages/welcome/WELCOME.webp";
const PictureMobile ="/pages/landing-pages/welcome/PIC-mobile.webp";
---

<>

<section
  class="bg-cover bg-center pt-14 px-7 block md:hidden"
  style={`background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(${Background})`}
>
  <div class="flex flex-col gap-3">
    <div>
      <div class="flex justify-center mb-2">
        <img src={TextWelcome} alt="Welcome" />
      </div>
      <div class="flex justify-center">
        <div class="flex flex-col justify-center items-center">
          <span class="text-white font-extralight">
            Your All-in-One Gateway to China:
          </span>
          <span class="text-white font-bold mb-2"> Study, Travel, Work </span>
          <button class="bg-[#FFBC2D] py-1 px-2 rounded-full flex justify-center items-center">
            <span class="text-[#F03C0B] text-xs font-bold"> KNOW US MORE! </span>
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-center pb-10">
      <div>
        <img src={PictureMobile} alt="CardScholarship" />
      </div>
    </div>
  </div>
</section>

<section
  class="bg-cover bg-top px-7 hidden md:block h-screen"
  style={`background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(${Background})`}
>
  <div class="flex justify-center items-center h-full px-20">
    <img src={WelcomeImage} alt="">
  </div>
</section>
</>
